@font-face {
    font-family: iransans;
    src: url(../fonts/iransansweb_light.ttf)
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: iransans;
    direction: rtl;
    text-align: right;


}

#index {
    background-color: rgb(248, 249, 250);
    height: 100%;
    overflow: hidden;
}

#homepage {
    background-color: rgb(248, 249, 250);
    height: 100%;
    overflow: hidden;
}
.nav-item {
    width: 100%;
}

@media only screen and (max-width: 1080px) {
    .nav-item {
        font-size: 11px;
    }
}

.nav-item:hover {
    background: #f8f9fc;
}

.navbar {
    font-family: iransans;
    font-size: 1em;
    line-height: 40px;
}

.brand-logo {
    width: 40px;
}

.rowindex {
    margin: 0;
    padding: 0;
    height: 100%;
}

#map {
    cursor: grab;
}

.accordion {

    background: -webkit-linear-gradient(bottom, #8490ff 0%, #62bdfc 100%);
    background: -o-linear-gradient(bottom, #8490ff 0%, #62bdfc 100%);
    background: linear-gradient(to top, #8490ff 0%, #62bdfc 100%);
    margin-top: 2px;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
    direction: rtl;
    text-align: right;
    color: white;

}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.active,
.accordion:hover {
    background: -moz-linear-gradient(0deg, #ef5350 0%, #FFA000 100%);
    background: -webkit-linear-gradient(0deg, #ef5350 0%, #FFA000 100%);
    background: -ms-linear-gradient(0deg, #ef5350 0%, #FFA000 100%);
}

/* Style the accordion panel. Note: hidden by default */

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.panelsecs {
    border-bottom: 1px grey solid;
    margin-top: 5px;

}

.panelsecs h3 {
    font-size: 1.4em;
}

.panelsecs .tel {
    font-size: 1.2em;
    margin-top: 5px;
}

.panelsecs h3:hover {
    color: #03A9F4;
    cursor: pointer;
}

.title {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: iransans;
}

.title p {
    font-size: 1em;
}

.title i {
    color: #FF7043;
}

.breadcrumb-item {
    margin: 0;
    padding-right: 5px;
}

.likenumb {
    margin-right: 10px;
    color: #FF7043;
}

.address {
    margin-top: 15px;
}

.adressline {
    margin-bottom: 30px;
    width: 50%;
    height: 2px;
    display: block;
}

.boxofinfo {
    /*    border:solid 1px grey;*/
    font-size: 0.9em;
    direction: rtl;
}

/* Style the tab */

.tab {
    text-align: center;
    overflow: hidden;
    border: 1px solid #ccc;
    background: -webkit-linear-gradient(bottom, #8490ff 0%, #62bdfc 100%);
    background: -o-linear-gradient(bottom, #8490ff 0%, #62bdfc 100%);
    background: linear-gradient(to top, #8490ff 0%, #62bdfc 100%);
}

/* Style the buttons that are used to open the tab content */

.tab button {
    color: white;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: all 0.5s;
    background: -webkit-linear-gradient(bottom, #8490ff 0%, #62bdfc 100%);
    background: -o-linear-gradient(bottom, #8490ff 0%, #62bdfc 100%);
    background: linear-gradient(to top, #8490ff 0%, #62bdfc 100%);
}

/* Change background color of buttons on hover */

.tab button:hover {

    background: -moz-linear-gradient(0deg, #ef5350 0%, #FFA000 100%);
    background: -webkit-linear-gradient(0deg, #ef5350 0%, #FFA000 100%);
    background: -ms-linear-gradient(0deg, #ef5350 0%, #FFA000 100%);
}

/* Create an active/current tablink class */

.tab button.active {

    background: -moz-linear-gradient(0deg, #ef5350 0%, #FFA000 100%);
    background: -webkit-linear-gradient(0deg, #ef5350 0%, #FFA000 100%);
    background: -ms-linear-gradient(0deg, #ef5350 0%, #FFA000 100%);
}

/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.boxinforow {
    margin-bottom: 30px;
}

#myshelloverlay {
    position: absolute;
    background: -webkit-linear-gradient(bottom, #8490ff 0%, #62bdfc 100%);
    background: -o-linear-gradient(bottom, #8490ff 0%, #62bdfc 100%);
    background: linear-gradient(to top, #8490ff 0%, #62bdfc 100%);
    color: white !important;
    bottom: 0;
    width: 100%;
    z-index: 20;
    text-decoration: none;
    height: 100px;
    line-height: 100px;
    cursor: pointer;

}

.cedarmaps-logo {
    display: none;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 50;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background: linear-gradient(to top, rgba(132, 144, 255, 0.5) 0%, rgba(98, 189, 252, 0.5) 100%);
    /* Black w/ opacity */
}

/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    width: 80%;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    /* Could be more or less, depending on screen size */
}

/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.leaflet-control-zoom {
    display: none;
}

.forminputs {
    background-color: white;
    border-radius: 4px;
    border: solid 1px grey;
}

input:focus {
    outline: none;
}
.btnsabt{
    
    background: -webkit-linear-gradient(bottom, #8490ff 0%, #62bdfc 100%);
    background: -o-linear-gradient(bottom, #8490ff 0%, #62bdfc 100%);
    background: linear-gradient(to top, #8490ff 0%, #62bdfc 100%);
    color: white !important;
}
.group {
    position: relative;
    margin-bottom: 45px;
    
    text-align: right;
}

input {
    text-align: right;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575;
}

label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    text-align: right;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */

input:focus ~ label,
input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
}

/* BOTTOM BARS ================================= */

.bar {
    position: relative;
    display: block;
    width: 300px;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/* active state */

input:focus ~ .bar:before,
input:focus ~ .bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */

input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */

@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

.btns{
    text-align: center;
    background: -webkit-linear-gradient(bottom, #8490ff 0%, #62bdfc 100%);
    background: -o-linear-gradient(bottom, #8490ff 0%, #62bdfc 100%);
    background: linear-gradient(to top, #8490ff 0%, #62bdfc 100%);
    color: white !important;
    border: solid 0.2px white;
    border-radius: 100px;
    height 100px;
}
#ezafeha1{
    display: none;
    position: absolute;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    background: linear-gradient(to top, rgba(132, 144, 255, 0.5) 0%, rgba(98, 189, 252, 0.5) 100%);
    top: 70px;
    border-radius: 10px;
    left: 30px;
    width:250px;
    height: 250px;
    
}

#ezafeha2{
    display: none;
    position: absolute;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    background: linear-gradient(to top, rgba(132, 144, 255, 0.5) 0%, rgba(98, 189, 252, 0.5) 100%);
    top: 70px;
    border-radius: 10px;
    left: 30px;
    width:250px;
    height: 250px;
    
}

#ezafeha3{
    display: none;
    position: absolute;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    background: linear-gradient(to top, rgba(132, 144, 255, 0.5) 0%, rgba(98, 189, 252, 0.5) 100%);
    top: 70px;
    border-radius: 10px;
    left: 30px;
    width:250px;
    height: 250px;
    
}

#ezafeha4{
    display: none;
    position: absolute;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    background: linear-gradient(to top, rgba(132, 144, 255, 0.5) 0%, rgba(98, 189, 252, 0.5) 100%);
    top: 70px;
    border-radius: 10px;
    left: 30px;
    width:250px;
    height: 250px;
    
}